<form action="/flights/index" method="get">
  
  From: <select name="from">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>

  To: <select name="to">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>

  Passengers: <select name="passengers">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
  </select>

  Day: <select name="day">
    <%= @days.each do |day| %>
      <option value="<%= day %>"><%= day %></option>
    <% end %>
  </select>

  Month: <select name="month">
    <%= @months.each do |month| %>
      <option value="<%= month %>"><%= month %></option>
    <% end %>
  </select>

  Year: <select name="year">
    <%= @years.each do |year| %>
      <option value="<%= year %>"><%= year %></option>
    <% end %>
  </select>

  <button>Submit</button>
</form>

<form action="/bookings/new" method="get" >
  <% if !@flights.nil? %>
    <% @flights.each_with_index do |flight, i| %>
      <input type="radio" value="<%= flight["id"] %>">
        From: <%= @homes[i] %> To: <%= @destinations[i] %> 
      </input>
      <input type="hidden"><% flight["passengers"] %></input>
    <% end %>
  <% end %>
</form>