<%= form_tag("/flights/index", method: "get") do %>

  From:           <%= select_tag(:from, options_for_select(@airport_options)) %>
  To:             <%= select_tag(:to, options_for_select(@airport_options)) %>
  Passengers:     <%= select_tag(:passenger_number, options_for_select(@passengers)) %>
  Departure date: <%= select_tag(:date, options_for_select(@departure_dates)) %>

  <%= submit_tag("Submit") %>
<% end %>

<%= form_tag("/bookings/new", method: "get") do %>
  <% if !@flights.nil? %>

    <p>
    <% @routes.each do |route| %>
      <%= radio_button_tag(:flight_id, route[2]) %>
      From <%= route[0] %>     
      to   <%= route[1] %> --
      No.  <%= route[2] %>
      <br>

      <%= hidden_field_tag(:date, params[:date]) %>
      <%= hidden_field_tag(:from, params["from"]) %>
      <%= hidden_field_tag(:to, params["to"]) %>
    <% end %>
    </p>

    <%= submit_tag "Submit" %>
  <% end %>
<% end %>