<form action="/flights/index" method="get">
  
  From: <select name="from">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>

  To: <select name="to">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>

  Passengers: <select name="passengers">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
  </select>

  Day: <select name="day">
    <%= @days.each do |day| %>
      <option value="<%= day %>"><%= day %></option>
    <% end %>
  </select>

  Month: <select name="month">
    <%= @months.each do |month| %>
      <option value="<%= month %>"><%= month %></option>
    <% end %>
  </select>

  Year: <select name="year">
    <%= @years.each do |year| %>
      <option value="<%= year %>"><%= year %></option>
    <% end %>
  </select>

  <button>Submit</button>
</form>

<form action="/bookings/new" method="get" >
  <% if !@flights.nil? %>
    <% @flights.each_with_index do |flight, i| %>
      <input type="radio" value="<%= flight["id"] %>" name="flight_id">
        From: <%= @homes[i] %> To: <%= @destinations[i] %> 
      </input>
      <input type="hidden" value="<%= flight["passengers"] %>" name="passengers"></input>
      <input type="hidden" value="<%= params["day"] %>" name="day"></input>
      <input type="hidden" value="<%= params["month"] %>" name="month"></input>
      <input type="hidden" value="<%= params["year"] %>" name="year"></input>
      <input type="hidden" value="<%= params["from"] %>" name="from"></input>
      <input type="hidden" value="<%= params["to"] %>" name="to"></input>
      <input type="submit"></input>
    <% end %>
  <% end %>
</form>