<form action="/flights/index" method="get">
  From: <select name="from">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>
  To: <select name="to">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>
</form>

<p><%= print @flight %><p>