<%= form_tag("/flights/index", method: "get") do %>

  From:       <%= select_tag(:from, options_for_select(@airport_options)) %>
  To:         <%= select_tag(:to, options_for_select(@airport_options)) %>
  Passengers: <%= select_tag(:passenger_number, options_for_select(@passengers)) %>
  Day:        <%= select_tag(:day, options_for_select(@days)) %>
  Month:      <%= select_tag(:month, options_for_select(@months)) %>
  Year:       <%= select_tag(:year, options_for_select(@years)) %>

  <%= submit_tag("Submit") %>
<% end %>

<%= form_tag("/bookings/new", method: "get") do %>
  <% if !@flights.nil? %>

    <p>
    <% @routes.each do |route| %>
      <%= radio_button_tag(:flight_id, route[2]) %>
      From <%= route[0] %>     
      to   <%= route[1] %><br>

      <%= hidden_field_tag(:day, params["day"]) %>
      <%= hidden_field_tag(:month, params["month"]) %>
      <%= hidden_field_tag(:year, params["year"]) %>
      <%= hidden_field_tag(:from, params["from"]) %>
      <%= hidden_field_tag(:to, params["to"]) %>
    <% end %>
    </p>

    <%= submit_tag "Submit" %>
  <% end %>
<% end %>